@import '../../scss/_mixins';

.section{
    display: flex;
    justify-content: space-between;
    
    .verticalLine{
        border-left: 1px solid black;
        left: 50%;
        border-radius: 3px 3px 3px 3px;
    }

    .header{
        margin-left: 1rem;
        margin-bottom: 1.5rem;
    }

    .iconContainer{
        display: flex;
        align-items: center;
        justify-content: center;

        
        .icon{
        
        }
    }

   
}